<%= error_messages_for @comment %>

<div class="fieldset">
  <p class="hidden-field">
    <%= f.text_field :theme_id, :hidden => 1 %>
  </p>
  <p class="hidden-field">
    <%= f.text_field :user_id, :hidden => 1 %>
  </p>
  <p class="field">
    <%= f.label :body, 'Comment:' %>
    <%= f.text_area :body, :rows => 5, :cols => 40  %>
  </p>
</div>