<% @page_title = "Comments list" %>

<%= link_to "Themes", themes_path( :theme_id => @theme.id, :category_id => @theme.category_id ), :class => 'back-link' %>

<h1>Theme: <%= @theme.name %></h1>

<% if signed_in? %>
  <p><%= link_to "Add comment", new_comment_path( :theme_id => @theme.id ), :class => "action new" %> </p>
<% end %>

<div><%= pluralize @comments.size, 'comment' %> found</div>

<div class="comment index">
  <% @comments.each do |comment| %>
    <div class="comment summary">
      <div class="statistics">
        <div class="estimations"><%= pluralize comment.estimations.size, 'estimations' %></div>
        <div class="rating"><p>rating <span><%= comment.rating %></span></p></div>
      </div>
      <div class="data">
        <p><strong><%= comment.body %></strong></p>

      </div>

      <% if signed_in? %>
        <div class="actions">
          <%= link_to "Delete", category_theme_comment_path( @theme.category_id, @theme, comment ), :method => :delete, :confirm => "Are you sure?" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>