<% @page_title = "Comments list" %>

<%= link_to "Themes", themes_path( :theme_id => @theme.id, :category_id => @theme.category_id ), :class => 'back-link' %>

<h1>Theme: <%= @theme.name %></h1>

<% if signed_in? && @theme.not_commented_by_user(current_user.id) %>
  <p><%= link_to "Add comment", new_comment_path( :theme_id => @theme.id ), :class => "action new" %> </p>
<% end %>

<div class="top-statistics">Inside this theme <%= pluralize @comments.size, 'comment' %> has been found.</div>

<div class="comment index">
  <% @comments.each do |comment| %>
    <div class="comment summary <%= cycle('odd', 'even') %>">
      <div class="statistics">
        <div class="estimations"><%= pluralize comment.estimations.size, 'estimations' %></div>
        <div class="rating"><p>rating <span><%= comment.rating %></span></p></div>
      </div>
      <div class="data">
        <p><strong><%= comment.body %></strong></p>
        <% if signed_in? %>
          <% if comment.estimations.find_by_user_id(current_user.id).nil? %>
            <div class="estimation new">
              <% [true, false].each do |approval| %>
                 <%= render :partial => 'estimations/new', :locals => {:comment_id => comment.id, :plus => approval } %>
              <% end %>
            </div>
          <% else %>
            <p class="estimation-report">Your vote is <span><%= current_user.estimations.find_by_comment_id(comment.id).plus ? "+1" : "-1" %></span></p>
          <% end %>
        <% end %>
      </div>

      <% if signed_in? && !comment.top_level %>
        <div class="actions">
          <%= link_to "Delete", category_theme_comment_path(@theme.category_id, @theme, comment.id), :method => :delete, :confirm => "Are you sure?", :class => "action delete" %>
        </div>
      <% end %>
    </div>
  <div class="clear"></div>
  <% end %>
</div>