<%= error_messages_for @theme %>

<div class="fieldset">
  <p class="hidden-field">
    <%= f.text_field :category_id, :hidden => 1 %>
  </p>

  <p class="hidden-field">
    <%= f.text_field :user_id, :hidden => 1 %>
  </p>

  <p class="field">
    <%= f.label :name, 'Theme issue:' %>
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :comments do |c_f| %>
    <%= render :partial => 'form_nested', :locals => {:c_f => c_f} %>
  <% end %>

</div>