<% @page_title = "Themes list" %>

<h1>Category: <%= @category.name %></h1>

<% if signed_in? %>
  <p><%= link_to "Create new theme", new_theme_path(:category_id => @category.id), :class => "action new" %> </p>
<% end %>

<div class="top-statistics">Inside this category <%= pluralize @themes.size, 'theme' %> has been found.</div>

<div class="theme index">
  <% @themes.each do |theme| %>
    <div class="theme summary <%= cycle('odd', 'even') %>">
      <div class="statistics">
        <div class="comments"><%= pluralize theme.comments.size, 'comments' %></div>
        <div class="rating"><p>top comment rating <span><%= theme.rating %></span></p></div>
      </div>

      <div class="data">
        <h2> <%= link_to theme.name, category_theme_comments_path(@category, theme), :class => "ahead-link" %> </h2>
        <p><%= theme.top_level_comment.body %></p>
        <% if theme.top_level_comment.tags.size > 0 %>
          <ul class="tags">
          <% theme.top_level_comment.tags.each do |tag| %>
            <li><%= link_to tag.name, tag_comments_path( tag.id ), :class => "ahead-link" %><span class="popularity"> x <%= tag.popularity %></span>
                <% if signed_in? && theme.top_level_comment.user_id == current_user.id  %>
                  <% @tag_attaching = TagAttaching.where(:tag_id => tag.id, :comment_id => theme.top_level_comment.id).first %>
                  <div class="clear"></div>
                  <%= link_to 'Detach', tag_attaching_path( @tag_attaching.id ), :confirm => 'Are you sure?', :method => :delete, :class => "action delete" %>
                <% end %>
            </li>
          <% end %>
          </ul>
        <% else %>
          <p>Not contain tags yet</p>
        <% end %>
      </div>

      <% if signed_in? %>
        <div class="actions">
          <%= link_to "Delete Theme", category_theme_path(@category, theme), :method => :delete, :confirm => "Theme will be deleted.\n Are you sure?", :class => "action delete" %>
            <% if theme.top_level_comment.user_id == current_user.id %>
              <% if !Tag.all.blank? && !Tag.not_attached_to_comment(theme.top_level_comment.id).blank? %>
                <%= render :partial => 'tag_attachings/new', :locals => { :comment_id => theme.top_level_comment.id } %>
              <% end %>
              <div class="clear"></div>
              <%= link_to "Add a Tag", new_comment_tag_path( :comment_id => theme.top_level_comment.id ), :class => "action new" %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
