<% @page_title = "Themes list" %>

<%= link_to "All categories", categories_path %>

<p><%= link_to "Create new theme", new_theme_path( :category_id => @category.id ), :class => "action new" %> </p>

<div><%= pluralize @themes.size, 'theme' %> found</div>

<div class="theme index">

  <% @themes.each do |theme| %>
    <div class="theme summary">
      <div class="statistics">
        <div class="comments"><%= pluralize theme.comments.size, 'comments' %></div>
        <div class="rating"><p>top comment rating <span><%= theme.rating %></span></p></div>
      </div>

      <div class="data">
        <h2> <%= link_to theme.name, theme_path( theme.id ), :class => "show link" %> </h2>
      </div>
    </div>
  <% end %>
</div>
