<% @page_title = "Tags list" %>

<h1>Tags</h1>

<p>A tag is a label, that categorizes top-level comment with other, similar top-level comments.</p>

<div class="top-statistics"><%= pluralize @tags.size, 'tag' %> has been found.</div>

<div class="tag index">
  <% @tags.each do |tag| %>
    <div class="tag summary">

      <div class="data">
        <h3><%= link_to tag.name, tag_comments_path( tag.id ), :class => "ahead-link" %> <span class="popularity">x <%= tag.popularity %></span></h3>
        <p><%= tag.description %></p>
      </div>

      <% if signed_in? %>
        <div class="actions">
          <%= link_to "Delete", tag_path( tag.id ), :method => :delete, :confirm => "Tag will be deleted.\n Are you sure?", :class => "action delete"  %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
