<header>
  <div class="container">
    <div id="logo">
      <%= link_to "Stack Overflow", root_path %>
    </div>
    <div class="top-level navigation">
      <ul>
        <li><%= link_to "Categories", root_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign in/Sign up", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
<div class="clear"></div>